* {
    font-family: 'Ubuntu Mono', monospace;
    box-sizing: border-box;
}

.topbar {
    color: white;
    background-color: rgba(3, 27, 17, 0.2);
    height: 100px;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe {
    flex: 1;
    margin-top: 10px;
    font-size: 25px;
}

.recipe:hover > .lsinfo {
    color: black;
}

.lsinfo {
    margin-right: 20px;
    color: white;
}

.information p {
    margin-right: 5px;
    color: white;
}

h1 {
    margin-top: 0;
    padding-top: 15px;
}

h1, ul {
    text-align: center;
}


ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

.adjust-width {
    width: 150px;
}

li img {
    height: 150px;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: rgb(3, 27, 17);
    font-weight: bold;
}

button {
    color: #0C2545;
    border-style: double;
    border-color: white;
    width: 150px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #0C2545;
}

h2,
ul#ingredients,
ol#steps {
    text-align: left;
    background-color: rgba(3, 27, 17, 0.2);
}

h2 {
    margin-bottom: -15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

img {
    display: block;
    margin: auto;
}