* {
    font-family: 'Ubuntu Mono', monospace;
}

.topbar {
    color: white;
    background-color: rgba(3, 27, 17, 0.2);
    height: 100px;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    padding-top: 15px;
}

h1, ul {
    text-align: center;
}


ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

.adjust-width {
    width: 150px;
}

li img {
    height: 150px;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button {
    color: #0C2545;
    border-style: double;
    border-color: white;
    width: 150px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #0C2545;
}

ul#ingredients {
    text-align: left;
}

img {
    display: block;
    margin: auto;
}